@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alfa+Slab+One&family=Alumni+Sans+Pinstripe&family=Chelsea+Market&family=Goblin+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italianno&family=Kanit:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Lobster&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@800&family=Noto+Serif+Display&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&family=Rubik+Bubbles&family=Rubik+Distressed&family=Seymour+One&family=Spectral:wght@300;400;500;600;700;800&display=swap');
:root {
  --secondary-color: goldenrod;
  --text-color:white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App{
  background: #f5f6f6;
  transition: all .5s linear;
}
.dark{
  background: #000;
  color: var(--secondary-color);
}